allow untrusted_app persist_camera_prop:file { getattr open read };
allow untrusted_app vendor_default_prop:file { getattr open read };
allow untrusted_app theme_prop:file { getattr open read };