#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#
    
# Fast Charge
on boot
    chown system system /sys/class/qcom-battery/restrict_chg
    chmod 0666 /sys/class/qcom-battery/restrict_chg
    chown system system /sys/class/qcom-battery/restrict_cur
    chmod 0666 /sys/class/qcom-battery/restrict_cur
